---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { GetPosts } from "../services/get-posts";

const allPosts = GetPosts();
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... with thoughts and things</h2>
  <p>This is where I write all my cool astro thoughts.</p>

  <ul>
    {
      allPosts.map((p: any) => (
        <li>
          <BlogPost title={p.frontmatter.title} url={p.url} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
