---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>with a cool Astro subtitle</h2>
  <Greeting client:load messages={["Hi", "Sup?", "Yo", "你好"]} />
</BaseLayout>
